html {
  background: url(images/pattern.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body{
	height: 100%;
	margin:0px;
	padding:0px;
    background: #199CD9
}
body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid grey;
  border-radius: 3px;
}
.logo img{
	height:120px;
}
h4{
    text-align: center;
    color:#fff;
    font-weight: bold;
}
.real-red{
	background-color: #b7113a;
}
.real-red:hover{
	background-color:#c34664;
}
.pageWrap{width: 100%;
    display: flex;
    justify-content: center;
}
.centerWrap{
    width: 50%;
    display: flex;
}
.formWrap{
    width: 100%;
    color:#fff;
}
.inputWrap{
    display: flex;
    justify-content: space-around;
}
.inputTitle{
    align-self: center;
}
.buttonWrap{
    display: flex;
    justify-content: center;
}
.input-field label{
    color: #fff;
}
input[type=text],textarea.materialize-textarea, .select-wrapper input.select-dropdown{
    border-bottom: 1px solid #fff;
    color:#fff;
}
#textarea1:focus,#input_text:focus,#input_text:focus {
  border-bottom: 1px solid #c34664;
  box-shadow: 0 1px 0 0 #c34664;
}
#textarea1:focus + label,#input_text:focus + label ,#input_text:focus + label {
  color: #c34664;
}
.picker__weekday-display,.picker--focused .picker__day--selected, .picker__date-display{
    background-color:#b7113a
}
.picker__close, .picker__today,.picker__day.picker__day--today{
    color:#b7113a;
}
.picker__weekday-display{
    background: #840e2b
}
.default{
    padding: .8rem 0 0 0!important;
}
.center{
    justify-content: center;
}
.transparent{
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.together{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.material-icons{
    color:#fff;
}
